In [2]:
import pandas as pd
import re
import yaml
import sqlparse
import os
import pandas as pd
import requests

In [3]:
def add_repo_root_path():
    import os
    import sys
    repo_root = os.path.abspath(os.path.join(os.getcwd(), ".."))
    if repo_root not in sys.path:
        sys.path.append(repo_root)
        
add_repo_root_path()
from src import generate_knowledge

In [ ]:
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 30)
#pd.set_option('display.width', None)
#pd.set_option('display.max_colwidth', 10)

#### Read dbs

In [5]:
local_dbt_repo = ''
online_dbt_repo = 'https://github.com/dbt-labs/jaffle-shop'

# Use local repo?
if False:
    repo_path = local_dbt_repo
else:
    repo_path = online_dbt_repo

is_online = generate_knowledge.is_online_repo(repo_path)
_, repo_name = generate_knowledge.extract_owner_and_repo(repo_path)
print(repo_name)

jaffle-shop

In [6]:
dbt_models_df = pd.read_csv('../data/dbt_models_' + repo_name + '.csv')
dbt_project_df = pd.read_csv('../data/dbt_project_' + repo_name + '.csv')

In [8]:
display(dbt_models_df.sample(3))
display(dbt_project_df.sample(3))

,path,name,extension,file_name,sql_code,config,materialized,is_snapshot,has_jinja_code,model_category,...,is_filtered,macros,has_macros,parent_models,is_source_model,source,children_models,is_end_model,model_description,jinja_description
4,models/staging/stg_products.sql,stg_products.sql,.sql,NaN,WITH SOURCE AS\n (SELECT *\n FROM {{ source...,NaN,NaN,False,False,stg,...,False,['cents_to_dollars'],True,[],True,['ecom.raw_products'],"['order_items', 'products']",False,Retrieves product data from the 'raw_products'...,NaN
8,models/marts/metricflow_time_spine.sql,metricflow_time_spine.sql,.sql,NaN,-- metricflow_time_spine.sql\nWITH days AS (--...,NaN,NaN,False,False,other,...,False,['dbt_date.get_base_dates'],True,[],False,NaN,[],True,"Generates a date range spanning 10 years, star...",NaN
7,models/marts/locations.sql,locations.sql,.sql,NaN,WITH locations AS\n (SELECT *\n FROM {{ ref...,NaN,NaN,False,False,other,...,False,NaN,False,['stg_locations'],False,NaN,[],True,"""Retrieves all location records from the 'stg_...",NaN

,path,file_name,extension,code,is_seed,is_macro,is_test,packages,description
10,jaffle-data/raw_stores.csv,raw_stores.csv,.csv,id n...,False,False,False,NaN,NaN
0,Taskfile.yml,Taskfile.yml,.yml,version: '3'\nsilent: true\nvars:\n YEARS: 6\...,False,False,False,NaN,NaN
5,macros/generate_schema_name.sql,generate_schema_name.sql,.sql,{% macro generate_schema_name(custom_schema_na...,False,True,False,NaN,Generates a schema name based on input conditi...

In [9]:
dbt_models_df.dtypes

path                              object
name                              object
extension                         object
file_name                        float64
sql_code                          object
config                            object
materialized                      object
is_snapshot                         bool
has_jinja_code                      bool
model_category                    object
vertical                          object
yml_code                          object
tests                             object
has_tests                           bool
sql_ids                           object
has_select_all_in_last_select       bool
has_group_by                        bool
primary_key                       object
filters                           object
is_filtered                         bool
macros                            object
has_macros                          bool
parent_models                     object
is_source_model                     bool
source                            object
children_models                   object
is_end_model                        bool
model_description                 object
jinja_description                float64
dtype: object