In [2]:
import pandas as pd
import re
import yaml
import sqlparse
import os
import pandas as pd
import requests
from IPython.display import display, Markdown

In [3]:
def add_repo_root_path():
    import os
    import sys
    repo_root = os.path.abspath(os.path.join(os.getcwd(), ".."))
    if repo_root not in sys.path:
        sys.path.append(repo_root)
        
add_repo_root_path()
from src import generate_knowledge

In [4]:
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 50)
#pd.set_option('display.width', None)
#pd.set_option('display.max_colwidth', 10)

## Read dbs

In [5]:
local_dbt_repo = ''
online_dbt_repo = 'https://github.com/dbt-labs/jaffle-shop'

# Use local repo?
if False:
    repo_path = local_dbt_repo
else:
    repo_path = online_dbt_repo

is_online = generate_knowledge.is_online_repo(repo_path)
_, repo_name = generate_knowledge.extract_owner_and_repo(repo_path)
print(repo_name)

jaffle-shop

In [6]:
dbt_models_df = pd.read_csv('../data/dbt_models_' + repo_name + '.csv')
dbt_project_df = pd.read_csv('../data/dbt_project_' + repo_name + '.csv')
display(dbt_models_df.sample(3))
display(dbt_project_df.sample(3))

,path,name,extension,sql_code,config,materialized,is_snapshot,has_jinja_code,model_category,vertical,yml_code,tests,has_tests,sql_ids,has_select_all_in_last_select,has_group_by,primary_key,filters,is_filtered,macros,has_macros,parent_models,is_source_model,source,children_models,is_end_model,model_description,jinja_description
1,models/staging/stg_locations.sql,stg_locations.sql,.sql,WITH SOURCE AS\n (SELECT *\n FROM {{ source...,NaN,NaN,False,False,stg,locations,"{'models': [{'name': 'stg_locations', 'descrip...","{'columns': {'location_id': ['not_null', 'uniq...",True,['location_id'],True,False,location_id,NaN,False,['dbt.date_trunc'],True,[],True,['ecom.raw_stores'],['locations'],False,"""Extracts a list of open store locations from ...",NaN
9,models/marts/order_items.sql,order_items.sql,.sql,WITH order_items AS\n (SELECT *\n FROM {{ r...,NaN,NaN,False,False,other,order_items,"{'models': [{'name': 'order_items', 'columns':...","{'columns': {'order_item_id': ['not_null', 'un...",True,"['product_id', 'order_id']",True,True,order_item_id,"['order_items.order_id = orders.order_id', 'or...",True,NaN,False,"['stg_order_items', 'stg_orders', 'stg_product...",False,NaN,['orders'],False,"""Combines order item details from 'stg_order_i...",NaN
10,models/marts/orders.sql,orders.sql,.sql,WITH orders AS\n (SELECT *\n FROM {{ ref('s...,NaN,NaN,False,False,other,orders,"{'models': [{'name': 'orders', 'description': ...","{'columns': {'order_id': ['not_null', 'unique'...",True,"['order_item_id', 'customer_id', 'order_id']",True,True,order_id,['orders.order_id = order_items_summary.order_...,True,NaN,False,"['stg_orders', 'order_items']",False,NaN,['customers'],False,"""Aggregates order data from the 'stg_orders' a...",NaN

,path,name,extension,code,is_seed,is_macro,is_test,packages,description
11,jaffle-data/raw_supplies.csv,raw_supplies.csv,.csv,id name cost per...,False,False,False,NaN,NaN
5,macros/generate_schema_name.sql,generate_schema_name.sql,.sql,{% macro generate_schema_name(custom_schema_na...,False,True,False,NaN,Generates a schema name based on the resource ...
0,Taskfile.yml,Taskfile.yml,.yml,version: '3'\nsilent: true\nvars:\n YEARS: 6\...,False,False,False,NaN,NaN

In [7]:
def merge_dbt_models_and_project_dfs(dbt_models_df, dbt_project_df):
    dbt_models_df['knowledge_type'] = 'models'
    dbt_project_df['knowledge_type'] = 'project'

    dbt_models_df.rename(columns = {'sql_code':'code'}, inplace = True)

    all_columns = set(dbt_models_df.columns).union(set(dbt_project_df.columns))

    for col in all_columns:
        if col not in dbt_models_df:
            dbt_models_df[col] = None
        if col not in dbt_project_df:
            dbt_project_df[col] = None

    merged_df = pd.concat([dbt_models_df, dbt_project_df], ignore_index=True)
    columns_order = ['knowledge_type'] + [col for col in merged_df.columns if col != 'knowledge_type']
    return merged_df[columns_order]

In [8]:
dbt_repo_knowledge_df = merge_dbt_models_and_project_dfs(dbt_models_df, dbt_project_df)

## LangChain

#### Embeddings and Documents db

In [9]:
def combine_contextual_fields(row):
    combined = f"""        
        Code:
        {row['code'] if pd.notna(row['code']) else 'N/A'}

        YML Code:
        {row['yml_code'] if pd.notna(row['yml_code']) else 'N/A'}

        Description for project files:
        {row['description'] if pd.notna(row['description']) else 'N/A'}

        dbt Model description:
        {row['model_description'] if pd.notna(row['model_description']) else 'N/A'}

        Jinja inside the dbt model description:
        {row['jinja_description'] if pd.notna(row['jinja_description']) else 'N/A'}
    """
    return combined.strip()

dbt_repo_knowledge_df['contextual_info'] = dbt_repo_knowledge_df.apply(combine_contextual_fields, axis=1)

In [10]:
dbt_repo_knowledge_df

,knowledge_type,path,name,extension,code,config,materialized,is_snapshot,has_jinja_code,model_category,vertical,yml_code,tests,has_tests,sql_ids,has_select_all_in_last_select,has_group_by,primary_key,filters,is_filtered,macros,has_macros,parent_models,is_source_model,source,children_models,is_end_model,model_description,jinja_description,is_test,description,packages,is_macro,is_seed,contextual_info
0,models,models/staging/stg_customers.sql,stg_customers.sql,.sql,WITH SOURCE AS\n (SELECT *\n FROM {{ source...,NaN,NaN,False,False,stg,customers,"{'models': [{'name': 'stg_customers', 'descrip...","{'columns': {'customer_id': ['not_null', 'uniq...",True,['customer_id'],True,False,customer_id,NaN,False,NaN,False,[],True,['ecom.raw_customers'],['customers'],False,"""Extracts customer data from the 'raw_customer...",NaN,None,None,None,None,None,Code:\n WITH SOURCE AS\n (SELECT *\n ...
1,models,models/staging/stg_locations.sql,stg_locations.sql,.sql,WITH SOURCE AS\n (SELECT *\n FROM {{ source...,NaN,NaN,False,False,stg,locations,"{'models': [{'name': 'stg_locations', 'descrip...","{'columns': {'location_id': ['not_null', 'uniq...",True,['location_id'],True,False,location_id,NaN,False,['dbt.date_trunc'],True,[],True,['ecom.raw_stores'],['locations'],False,"""Extracts a list of open store locations from ...",NaN,None,None,None,None,None,Code:\n WITH SOURCE AS\n (SELECT *\n ...
2,models,models/staging/stg_order_items.sql,stg_order_items.sql,.sql,WITH SOURCE AS\n (SELECT *\n FROM {{ source...,NaN,NaN,False,False,stg,order_items,"{'models': [{'name': 'stg_order_items', 'descr...","{'columns': {'order_item_id': ['not_null', 'un...",True,"['product_id', 'order_item_id', 'order_id']",True,False,order_item_id,NaN,False,NaN,False,[],True,['ecom.raw_items'],['order_items'],False,"""Extracts individual food and drink items from...",NaN,None,None,None,None,None,Code:\n WITH SOURCE AS\n (SELECT *\n ...
3,models,models/staging/stg_orders.sql,stg_orders.sql,.sql,WITH SOURCE AS\n (SELECT *\n FROM {{ source...,NaN,NaN,False,False,stg,orders,"{'models': [{'name': 'stg_orders', 'descriptio...","{'columns': {'order_id': ['not_null', 'unique'...",True,"['location_id', 'store_id', 'customer_id', 'or...",True,False,order_id,NaN,False,"['cents_to_dollars', 'dbt.date_trunc']",True,[],True,['ecom.raw_orders'],"['order_items', 'orders']",False,Retrieves order data from the 'ecom.raw_orders...,NaN,None,None,None,None,None,Code:\n WITH SOURCE AS\n (SELECT *\n ...
4,models,models/staging/stg_products.sql,stg_products.sql,.sql,WITH SOURCE AS\n (SELECT *\n FROM {{ source...,NaN,NaN,False,False,stg,products,"{'models': [{'name': 'stg_products', 'descript...","{'columns': {'product_id': ['not_null', 'uniqu...",True,['product_id'],True,False,product_id,NaN,False,['cents_to_dollars'],True,[],True,['ecom.raw_products'],"['order_items', 'products']",False,Retrieves product data from the 'raw_products'...,NaN,None,None,None,None,None,Code:\n WITH SOURCE AS\n (SELECT *\n ...
5,models,models/staging/stg_supplies.sql,stg_supplies.sql,.sql,WITH SOURCE AS\n (SELECT *\n FROM {{ source...,NaN,NaN,False,False,stg,supplies,"{'models': [{'name': 'stg_supplies', 'descript...","{'columns': {'supply_uuid': ['not_null', 'uniq...",True,"['product_id', 'supply_id']",True,False,supply_uuid,NaN,False,"['cents_to_dollars', 'dbt_utils.generate_surro...",True,[],True,['ecom.raw_supplies'],"['order_items', 'supplies']",False,Retrieves supply expense data from the 'raw_su...,NaN,None,None,None,None,None,Code:\n WITH SOURCE AS\n (SELECT *\n ...
6,models,models/marts/customers.sql,customers.sql,.sql,WITH customers AS\n (SELECT *\n FROM {{ ref...,NaN,NaN,False,False,other,customers,"{'models': [{'name': 'customers', 'description...","{'columns': {'customer_id': ['not_null', 'uniq...",True,"['customer_id', 'order_id']",True,True,customer_id,['customers.customer_id = customer_orders_summ...,True,NaN,False,"['stg_customers', 'orders']",False,NaN,[],True,"""Aggregates customer data from the 'stg_custom...",NaN,None,None,None,None,None,Code:\n WITH customers AS\n (SELECT *\...
7,models,models/marts/locations.sql,locations.sql,.sql,WITH locations AS\n (SELECT *\n FROM {{ ref...,NaN,NaN,False,False,other,locations,"{'semantic_models': [{'name': 'locations', 'de...",NaN,False,NaN,True,False,NaN,NaN,False,NaN,False,['stg_locations'],False,NaN,[],True,Retrieves all location records from the 'stg_l...,NaN,None,None,None,None,None,Code:\n WITH locations AS\n (SELECT *\...
8,models,models/marts/metricflow_time_spine.sql,metricflow_time_spine.sql,.sql,-- metricflow_time_spine.sql\nWITH days AS (--...,NaN,NaN,False,False,other,metricflow_time_spine,NaN,NaN,False,NaN,True,False,NaN,NaN,False,['dbt_date.get_base_dates'],True,[],False,NaN,[],True,"""Generates a date range spanning 10 years by c...",NaN,None,None,None,None,None,Code:\n -- metricflow_time_spine.sql\nW...
9,models,models/marts/order_items.sql,order_items.sql,.sql,WITH order_items AS\n (SELECT *\n FROM {{ r...,NaN,NaN,False,False,other,order_items,"{'models': [{'name': 'order_items', 'columns':...","{'columns': {'order_item_id': ['not_null', 'un...",True,"['product_id', 'order_id']",True,True,order_item_id,"['order_items.order_id = orders.order_id', 'or...",True,NaN,False,"['stg_order_items', 'stg_orders', 'stg_product...",False,NaN,['orders'],False,"""Combines order item details from 'stg_order_i...",NaN,None,None,None,None,None,Code:\n WITH order_items AS\n (SELECT ...
10,models,models/marts/orders.sql,orders.sql,.sql,WITH orders AS\n (SELECT *\n FROM {{ ref('s...,NaN,NaN,False,False,other,orders,"{'models': [{'name': 'orders', 'description': ...","{'columns': {'order_id': ['not_null', 'unique'...",True,"['order_item_id', 'customer_id', 'order_id']",True,True,order_id,['orders.order_id = order_items_summary.order_...,True,NaN,False,"['stg_orders', 'order_items']",False,NaN,['customers'],False,"""Aggregates order data from the 'stg_orders' a...",NaN,None,None,None,None,None,Code:\n WITH orders AS\n (SELECT *\n ...
11,models,models/marts/products.sql,products.sql,.sql,WITH products AS\n (SELECT *\n FROM {{ ref(...,NaN,NaN,False,False,other,products,"{'semantic_models': [{'name': 'products', 'des...",NaN,False,NaN,True,False,NaN,NaN,False,NaN,False,['stg_products'],False,NaN,[],True,Retrieves all product records from the 'stg_pr...,NaN,None,None,None,None,None,Code:\n WITH products AS\n (SELECT *\n...
12,models,models/marts/supplies.sql,supplies.sql,.sql,WITH supplies AS\n (SELECT *\n FROM {{ ref(...,NaN,NaN,False,False,other,supplies,"{'semantic_models': [{'name': 'supplies', 'des...",NaN,False,NaN,True,False,NaN,NaN,False,NaN,False,['stg_supplies'],False,NaN,[],True,"""Selects all records from the 'stg_supplies' s...",NaN,None,None,None,None,None,Code:\n WITH supplies AS\n (SELECT *\n...
13,models,models/staging/__sources.yml,__sources.yml,.yml,NaN,"\n{{\n config(\n materialized=""table...",table,False,False,sources,sources,"{'version': 2, 'sources': [{'name': 'ecom', 's...",NaN,False,NaN,False,False,NaN,NaN,False,NaN,False,[],False,NaN,[],True,"""Selects customer data from the 'raw_customers...",NaN,None,None,None,None,None,Code:\n N/A\n\n YML Code:\n ...
14,project,Taskfile.yml,Taskfile.yml,.yml,version: '3'\nsilent: true\nvars:\n YEARS: 6\...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,False,NaN,NaN,False,False,Code:\n version: '3'\nsilent: true\nvar...
15,project,dbt_project.yml,dbt_project.yml,.yml,config-version: 2\nname: jaffle_shop\nversion:...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,False,- Name: jaffle_shop\n- Version: 3.0.0\n- Requi...,NaN,False,False,Code:\n config-version: 2\nname: jaffle...
16,project,package-lock.yml,package-lock.yml,.yml,packages:\n- package: dbt-labs/dbt_utils\n ve...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,False,NaN,NaN,False,False,Code:\n packages:\n- package: dbt-labs/...
17,project,packages.yml,packages.yml,.yml,packages:\n- package: dbt-labs/dbt_utils\n ve...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,False,- **dbt_utils**: This package offers a collect...,"['dbt-labs/dbt_utils==1.1.1', 'calogica/dbt_da...",False,False,Code:\n packages:\n- package: dbt-labs/...
18,project,macros/cents_to_dollars.sql,cents_to_dollars.sql,.sql,{# A basic example for a project-wide macro to...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,False,Converts a specified column from cents to doll...,NaN,True,False,Code:\n {# A basic example for a projec...
19,project,macros/generate_schema_name.sql,generate_schema_name.sql,.sql,{% macro generate_schema_name(custom_schema_na...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,False,Generates a schema name based on the resource ...,NaN,True,False,Code:\n {% macro generate_schema_name(c...
20,project,jaffle-data/raw_customers.csv,raw_customers.csv,.csv,id ...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,False,NaN,NaN,False,False,Code:\n ...
21,project,jaffle-data/raw_items.csv,raw_items.csv,.csv,id ...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,False,NaN,NaN,False,False,Code:\n ...
22,project,jaffle-data/raw_orders.csv,raw_orders.csv,.csv,id ...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,False,NaN,NaN,False,False,Code:\n ...
23,project,jaffle-data/raw_products.csv,raw_products.csv,.csv,sku name type price ...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,False,NaN,NaN,False,False,Code:\n sku name ...
24,project,jaffle-data/raw_stores.csv,raw_stores.csv,.csv,id n...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,False,NaN,NaN,False,False,Code:\n ...
25,project,jaffle-data/raw_supplies.csv,raw_supplies.csv,.csv,id name cost per...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,False,NaN,NaN,False,False,Code:\n id ...

In [11]:
generate_knowledge.add_repo_root_path()
import openai_setup

OPENAI_API_KEY = openai_setup.conf['key']
OPENAI_PROJECT = openai_setup.conf['project']
OPENAI_ORGANIZATION = openai_setup.conf['organization']
DEFAULT_LLM_MODEL = "gpt-4o-mini"

In [12]:
from langchain.schema import Document

documents = dbt_repo_knowledge_df.apply(
    lambda row: Document(
        page_content=row["contextual_info"],
        metadata={
            "knowledge_type": row["knowledge_type"],
            "name": row["name"],
            "path": row["source"],
            "source": row["path"],
            "parents": row["parent_models"],
            "children": row["children_models"]
        }
    ), axis=1
).tolist()

In [13]:
from langchain_openai import OpenAIEmbeddings
from langchain.vectorstores import FAISS

embeddings = OpenAIEmbeddings(openai_api_key=OPENAI_API_KEY)
vectorstore = FAISS.from_documents(documents, embeddings)

In [14]:
vectorstore

#### Test simple Retriever

In [15]:
from langchain.chains import RetrievalQA, LLMChain, SequentialChain
from langchain.prompts import PromptTemplate
from langchain_openai import ChatOpenAI
from langchain.agents import initialize_agent, Tool
from langchain.schema.runnable import RunnableSequence

llm = ChatOpenAI(model=DEFAULT_LLM_MODEL, temperature=0.1, openai_api_key=OPENAI_API_KEY, openai_organization = OPENAI_ORGANIZATION)
retriever = vectorstore.as_retriever(search_type="similarity", search_kwargs={"k": 5})

In [16]:
template = """
    You are a dbt expert. Based on the following context, answer the question concisely and accurately:
    {context}

    Question: {question}
"""
qa_prompt = PromptTemplate(template=template, input_variables=["context", "question"])

qa_chain = RetrievalQA.from_chain_type(
    llm=llm,
    chain_type="stuff",
    retriever=retriever,
    return_source_documents=True,
    chain_type_kwargs={"prompt": qa_prompt},
)

In [17]:
query = "Que modelos se veran fectados si cambio el nombre de customer_id en stg_customers"
result = qa_chain.invoke({"query": query})

print(result["result"])
print(result["source_documents"])

Si cambias el nombre de `customer_id` en el modelo `stg_customers`, los siguientes modelos se verán afectados:

1. **Modelo `customers`**: Este modelo hace referencia a `stg_customers` y utiliza `customer_id` en su lógica de unión y en la selección de columnas.

2. **Modelo `customer_orders_summary`**: Este modelo también utiliza `customer_id` para agrupar y resumir datos de pedidos.

Cualquier modelo que dependa de `stg_customers` y utilice `customer_id` necesitará ser actualizado para reflejar el nuevo nombre.
[Document(id='78761315-7033-47de-b529-e646063fff52', metadata={'knowledge_type': 'models', 'name': 'stg_customers.sql', 'path': "['ecom.raw_customers']", 'source': 'models/staging/stg_customers.sql', 'parents': '[]', 'children': "['customers']"}, page_content='Code:\n        WITH SOURCE AS\n  (SELECT *\n   FROM {{ source(\'ecom\', \'raw_customers\') }}), renamed AS\n  (SELECT ----------  ids\n id AS customer_id, ---------- text\n name AS customer_name\n   FROM SOURCE)\nSELECT *\nFROM renamed\n\n        YML Code:\n        {\'models\': [{\'name\': \'stg_customers\', \'description\': \'Customer data with basic cleaning and transformation applied, one row per customer.\', \'columns\': [{\'name\': \'customer_id\', \'description\': \'The unique key for each customer.\', \'data_tests\': [\'not_null\', \'unique\']}]}]}\n\n        Description for project files:\n        N/A\n\n        dbt Model description:\n        "Extracts customer data from the \'raw_customers\' source table, applying basic transformations to rename fields. The output includes a unique customer identifier as \'customer_id\' and the customer\'s name as \'customer_name\', ensuring one row per customer with no filters or aggregations applied."\n\n        Jinja inside the dbt model description:\n        N/A'), Document(id='6032bb85-d2da-4952-9329-4060327c0fdb', metadata={'knowledge_type': 'project', 'name': 'raw_orders.csv', 'path': None, 'source': 'jaffle-data/raw_orders.csv', 'parents': None, 'children': None}, page_content='Code:\n                                          id                             customer          ordered_at                             store_id  subtotal  tax_paid  order_total\n9bed808a-5074-4dfb-b1eb-388e2e60a6da 50a2d1c4-d788-4498-a6f7-dd75d4db588f 2016-09-01T15:01:00 4b6c2304-2b9e-41e4-942a-cf11a1819378       700        42          742\nb83630c1-0fdc-4cd2-818d-0b6d4384ce86 438005c2-dd1d-48aa-8bfd-7fb06851b5f8 2016-09-01T10:39:00 4b6c2304-2b9e-41e4-942a-cf11a1819378       700        42          742\n3b4a03db-7b23-4673-a88a-7f51b01ca497 5261268c-aa94-438a-921a-05efc0d414ac 2016-09-01T07:46:00 4b6c2304-2b9e-41e4-942a-cf11a1819378       700        42          742\n\n        YML Code:\n        N/A\n\n        Description for project files:\n        N/A\n\n        dbt Model description:\n        N/A\n\n        Jinja inside the dbt model description:\n        N/A'), Document(id='33864f16-1d2d-4086-a31c-251d73a7ca3f', metadata={'knowledge_type': 'models', 'name': 'customers.sql', 'path': nan, 'source': 'models/marts/customers.sql', 'parents': "['stg_customers', 'orders']", 'children': '[]'}, page_content='Code:\n        WITH customers AS\n  (SELECT *\n   FROM {{ ref(\'stg_customers\') }}),\n     orders AS\n  (SELECT *\n   FROM {{ ref(\'orders\') }}),\n     customer_orders_summary AS\n  (SELECT orders.customer_id,\n          count(DISTINCT orders.order_id) AS count_lifetime_orders,\n          count(DISTINCT orders.order_id) > 1 AS is_repeat_buyer,\n          min(orders.ordered_at) AS first_ordered_at,\n          max(orders.ordered_at) AS last_ordered_at,\n          sum(orders.subtotal) AS lifetime_spend_pretax,\n          sum(orders.tax_paid) AS lifetime_tax_paid,\n          sum(orders.order_total) AS lifetime_spend\n   FROM orders\n   GROUP BY 1),\n     joined AS\n  (SELECT customers.*,\n          customer_orders_summary.count_lifetime_orders,\n          customer_orders_summary.first_ordered_at,\n          customer_orders_summary.last_ordered_at,\n          customer_orders_summary.lifetime_spend_pretax,\n          customer_orders_summary.lifetime_tax_paid,\n          customer_orders_summary.lifetime_spend,\n          CASE\n              WHEN customer_orders_summary.is_repeat_buyer THEN \'returning\'\n              ELSE \'new\'\n          END AS customer_type\n   FROM customers\n   LEFT JOIN customer_orders_summary ON customers.customer_id = customer_orders_summary.customer_id)\nSELECT *\nFROM joined\n\n        YML Code:\n        {\'models\': [{\'name\': \'customers\', \'description\': \'Customer overview data mart, offering key details for each unique customer. One row per customer.\', \'data_tests\': [{\'dbt_utils.expression_is_true\': {\'expression\': \'lifetime_spend_pretax + lifetime_tax_paid = lifetime_spend\'}}], \'columns\': [{\'name\': \'customer_id\', \'description\': \'The unique key of the orders mart.\', \'data_tests\': [\'not_null\', \'unique\']}, {\'name\': \'customer_name\', \'description\': "Customers\' full name."}, {\'name\': \'count_lifetime_orders\', \'description\': \'Total number of orders a customer has ever placed.\'}, {\'name\': \'first_ordered_at\', \'description\': \'The timestamp when a customer placed their first order.\'}, {\'name\': \'last_ordered_at\', \'description\': "The timestamp of a customer\'s most recent order."}, {\'name\': \'lifetime_spend_pretax\', \'description\': \'The sum of all the pre-tax subtotals of every order a customer has placed.\'}, {\'name\': \'lifetime_tax_paid\', \'description\': \'The sum of all the tax portion of every order a customer has placed.\'}, {\'name\': \'lifetime_spend\', \'description\': \'The sum of all the order totals (including tax) that a customer has ever placed.\'}, {\'name\': \'customer_type\', \'description\': "Options are \'new\' or \'returning\', indicating if a customer has ordered more than once or has only placed their first order to date.", \'data_tests\': [{\'accepted_values\': {\'values\': [\'new\', \'returning\']}}]}]}], \'semantic_models\': [{\'name\': \'customers\', \'defaults\': {\'agg_time_dimension\': \'first_ordered_at\'}, \'description\': \'Customer grain mart.\\n\', \'model\': "ref(\'customers\')", \'entities\': [{\'name\': \'customer\', \'expr\': \'customer_id\', \'type\': \'primary\'}], \'dimensions\': [{\'name\': \'customer_name\', \'type\': \'categorical\'}, {\'name\': \'customer_type\', \'type\': \'categorical\'}, {\'name\': \'first_ordered_at\', \'type\': \'time\', \'type_params\': {\'time_granularity\': \'day\'}}, {\'name\': \'last_ordered_at\', \'type\': \'time\', \'type_params\': {\'time_granularity\': \'day\'}}], \'measures\': [{\'name\': \'customers\', \'description\': \'Count of unique customers\', \'agg\': \'count_distinct\'}, {\'name\': \'count_lifetime_orders\', \'description\': \'Total count of orders per customer.\', \'agg\': \'sum\'}, {\'name\': \'lifetime_spend_pretax\', \'description\': \'Customer lifetime spend before taxes.\', \'agg\': \'sum\'}, {\'name\': \'lifetime_spend\', \'agg\': \'sum\', \'description\': \'Gross customer lifetime spend inclusive of taxes.\'}]}], \'metrics\': [{\'name\': \'lifetime_spend_pretax\', \'description\': "Customer\'s lifetime spend before tax", \'label\': \'LTV Pre-tax\', \'type\': \'simple\', \'type_params\': {\'measure\': \'lifetime_spend_pretax\'}}, {\'name\': \'count_lifetime_orders\', \'description\': \'Count of lifetime orders\', \'label\': \'Count Lifetime Orders\', \'type\': \'simple\', \'type_params\': {\'measure\': \'count_lifetime_orders\'}}, {\'name\': \'average_order_value\', \'description\': \'LTV pre-tax / number of orders\', \'label\': \'Average Order Value\', \'type\': \'derived\', \'type_params\': {\'metrics\': [\'count_lifetime_orders\', \'lifetime_spend_pretax\'], \'expr\': \'lifetime_spend_pretax / count_lifetime_orders\'}}], \'saved_queries\': [{\'name\': \'customer_order_metrics\', \'query_params\': {\'metrics\': [\'count_lifetime_orders\', \'lifetime_spend_pretax\', \'average_order_value\'], \'group_by\': ["Entity(\'customer\')"]}, \'exports\': [{\'name\': \'customer_order_metrics\', \'config\': {\'export_as\': \'table\'}}]}]}\n\n        Description for project files:\n        N/A\n\n        dbt Model description:\n        "Aggregates customer data from the \'stg_customers\' and \'orders\' tables to summarize lifetime order metrics. It counts distinct orders, calculates total spend, and identifies repeat buyers. The results are joined by \'customer_id\' and include fields like first and last order dates, categorized as \'new\' or \'returning\' customers."\n\n        Jinja inside the dbt model description:\n        N/A'), Document(id='14dff1be-3dd7-4964-af9d-0cbd1b21d613', metadata={'knowledge_type': 'project', 'name': 'raw_items.csv', 'path': None, 'source': 'jaffle-data/raw_items.csv', 'parents': None, 'children': None}, page_content='Code:\n                                          id                             order_id     sku\n2e3cb58a-c73c-4216-9d70-66e91bb2ca32 9bed808a-5074-4dfb-b1eb-388e2e60a6da BEV-004\n0d005cee-30f1-4426-a786-833fcc77ae34 b83630c1-0fdc-4cd2-818d-0b6d4384ce86 BEV-004\n0b8661ef-9337-44cd-a12d-f2aa9badda01 3b4a03db-7b23-4673-a88a-7f51b01ca497 BEV-004\n\n        YML Code:\n        N/A\n\n        Description for project files:\n        N/A\n\n        dbt Model description:\n        N/A\n\n        Jinja inside the dbt model description:\n        N/A'), Document(id='d255080d-838d-416c-b1aa-c09837ee2d2f', metadata={'knowledge_type': 'models', 'name': 'stg_orders.sql', 'path': "['ecom.raw_orders']", 'source': 'models/staging/stg_orders.sql', 'parents': '[]', 'children': "['order_items', 'orders']"}, page_content="Code:\n        WITH SOURCE AS\n  (SELECT *\n   FROM {{ source('ecom', 'raw_orders') }}), renamed AS\n  (SELECT ----------  ids\n id AS order_id,\n store_id AS location_id,\n customer AS customer_id, ---------- numerics\n subtotal AS subtotal_cents,\n tax_paid AS tax_paid_cents,\n order_total AS order_total_cents, {{ cents_to_dollars('subtotal') }} AS subtotal, {{ cents_to_dollars('tax_paid') }} AS tax_paid, {{ cents_to_dollars('order_total') }} AS order_total, ---------- timestamps\n {{ dbt.date_trunc('day', 'ordered_at') }} AS ordered_at\n   FROM SOURCE)\nSELECT *\nFROM renamed\n\n        YML Code:\n        {'models': [{'name': 'stg_orders', 'description': 'Order data with basic cleaning and transformation applied, one row per order.', 'data_tests': [{'dbt_utils.expression_is_true': {'expression': 'order_total - tax_paid = subtotal'}}], 'columns': [{'name': 'order_id', 'description': 'The unique key for each order.', 'data_tests': ['not_null', 'unique']}]}]}\n\n        Description for project files:\n        N/A\n\n        dbt Model description:\n        Retrieves order data from the 'ecom.raw_orders' source, applying basic cleaning and transformation. It renames fields, converts amounts from cents to dollars, and truncates the 'ordered_at' timestamp to the day. The model ensures that the order total minus tax equals the subtotal.\n\n        Jinja inside the dbt model description:\n        N/A")]

#### Agent test

In [18]:
# Retrieval Tool
retrieval_tool = Tool(
    name="Retrieve Info",
    func=lambda query: retriever.get_relevant_documents(query),
    description="Retrieve relevant context from the knowledge base.",
)

# Task Execution Prompt
task_prompt = PromptTemplate(
    template="""
        You are a dbt expert. Based on the context provided, perform the task below step-by-step:
        
        Task: {question}
        Context: {context}
    """,
    input_variables=["context", "question"],
)

# QA Chain for Task Execution
qa_chain = RetrievalQA.from_chain_type(
    llm=llm,
    chain_type="stuff",
    retriever=retriever,
    return_source_documents=True,
    chain_type_kwargs={"prompt": task_prompt},
)

# Task Execution Tool
task_tool = Tool(
    name="DBT Task Executor",
    func=lambda query: qa_chain.invoke({"query": query}),
    description="Execute dbt-related tasks like adding columns, creating models, or verifying dependencies.",
)

# Agent Configuration
tools = [retrieval_tool, task_tool]

agent = initialize_agent(
    tools=tools,
    llm=llm,
    agent="zero-shot-react-description",
    verbose=True,
)

/var/folders/hv/ckh3m6gn1sd45q2qctrqcwzh0000gn/T/ipykernel_80642/586826549.py:38: LangChainDeprecationWarning: LangChain agents will continue to be supported, but it is recommended for new use cases to be built with LangGraph. LangGraph offers a more flexible and full-featured framework for building agents, including support for tool-calling, persistence of state, and human-in-the-loop workflows. See LangGraph documentation for more details: https://langchain-ai.github.io/langgraph/. Refer here for its pre-built ReAct agent: https://langchain-ai.github.io/langgraph/how-tos/create-react-agent/
  agent = initialize_agent(

In [19]:
# Example Query
query = "Add a new column 'customer_age' to the 'stg_customers' model. The new column is available in the customer sources"

# Run the Agent
result = agent.run(query)
print("Agent Output:", result)

/var/folders/hv/ckh3m6gn1sd45q2qctrqcwzh0000gn/T/ipykernel_80642/795793740.py:5: LangChainDeprecationWarning: The method `Chain.run` was deprecated in langchain 0.1.0 and will be removed in 1.0. Use :meth:`~invoke` instead.
  result = agent.run(query)

> Entering new AgentExecutor chain...
I need to add a new column 'customer_age' to the 'stg_customers' model. This requires executing a dbt task to modify the model and include the new column from the customer sources.

Action: DBT Task Executor
Action Input: Add a new column 'customer_age' to the 'stg_customers' model using the customer sources.

Observation: {'query': "Add a new column 'customer_age' to the 'stg_customers' model using the customer sources.  \n", 'result': 'To add a new column `customer_age` to the `stg_customers` model using the customer sources, we will follow these steps:\n\n### Step 1: Modify the SQL Code for `stg_customers`\n\nWe need to update the SQL code in the `stg_customers` model to include the new column `customer_age`. Assuming that the `raw_customers` source contains a date of birth or a similar field from which we can calculate the age, we will add this logic to the SQL.\n\nHere’s how the updated SQL code might look:\n\n```sql\nWITH SOURCE AS (\n  SELECT *\n  FROM {{ source(\'ecom\', \'raw_customers\') }}\n), \nrenamed AS (\n  SELECT \n    id AS customer_id,\n    name AS customer_name,\n    -- Assuming there is a date_of_birth field in the raw_customers source\n    DATE_PART(\'year\', CURRENT_DATE) - DATE_PART(\'year\', date_of_birth) AS customer_age\n  FROM SOURCE\n)\nSELECT *\nFROM renamed\n```\n\n### Step 2: Update the YML File for `stg_customers`\n\nNext, we need to update the YML file to include the new column `customer_age` with its description and any relevant data tests.\n\nHere’s how the updated YML code might look:\n\n```yaml\nversion: 2\n\nmodels:\n  - name: stg_customers\n    description: \'Customer data with basic cleaning and transformation applied, one row per customer.\'\n    columns:\n      - name: customer_id\n        description: \'The unique key for each customer.\'\n        data_tests: [\'not_null\', \'unique\']\n      - name: customer_name\n        description: "Customers\' full name."\n      - name: customer_age\n        description: \'The age of the customer calculated from their date of birth.\'\n        data_tests: [\'not_null\']  # Assuming we want to ensure age is always present\n```\n\n### Step 3: Update the dbt Model Description\n\nWe should also update the dbt model description to reflect the addition of the `customer_age` column. Here’s how the updated description might look:\n\n```plaintext\n"Extracts customer data from the \'raw_customers\' source table, applying basic transformations to rename fields. The output includes a unique customer identifier as \'customer_id\', the customer\'s name as \'customer_name\', and the customer\'s age calculated from their date of birth, ensuring one row per customer with no filters or aggregations applied."\n```\n\n### Step 4: Test the Changes\n\nAfter making these changes, you should run the following commands to test and build your dbt project:\n\n1. **Run dbt models**: This will compile and run the models to ensure everything is working correctly.\n   ```bash\n   dbt run\n   ```\n\n2. **Run dbt tests**: This will check the data tests defined in the YML files.\n   ```bash\n   dbt test\n   ```\n\n### Summary\n\nBy following these steps, we have successfully added a new column `customer_age` to the `stg_customers` model, updated the YML file to include the new column\'s metadata, and modified the model description to reflect the changes. Make sure to adjust the SQL logic for calculating `customer_age` based on the actual structure of your `raw_customers` source.', 'source_documents': [Document(id='78761315-7033-47de-b529-e646063fff52', metadata={'knowledge_type': 'models', 'name': 'stg_customers.sql', 'path': "['ecom.raw_customers']", 'source': 'models/staging/stg_customers.sql', 'parents': '[]', 'children': "['customers']"}, page_content='Code:\n        WITH SOURCE AS\n  (SELECT *\n   FROM {{ source(\'ecom\', \'raw_customers\') }}), renamed AS\n  (SELECT ----------  ids\n id AS customer_id, ---------- text\n name AS customer_name\n   FROM SOURCE)\nSELECT *\nFROM renamed\n\n        YML Code:\n        {\'models\': [{\'name\': \'stg_customers\', \'description\': \'Customer data with basic cleaning and transformation applied, one row per customer.\', \'columns\': [{\'name\': \'customer_id\', \'description\': \'The unique key for each customer.\', \'data_tests\': [\'not_null\', \'unique\']}]}]}\n\n        Description for project files:\n        N/A\n\n        dbt Model description:\n        "Extracts customer data from the \'raw_customers\' source table, applying basic transformations to rename fields. The output includes a unique customer identifier as \'customer_id\' and the customer\'s name as \'customer_name\', ensuring one row per customer with no filters or aggregations applied."\n\n        Jinja inside the dbt model description:\n        N/A'), Document(id='33864f16-1d2d-4086-a31c-251d73a7ca3f', metadata={'knowledge_type': 'models', 'name': 'customers.sql', 'path': nan, 'source': 'models/marts/customers.sql', 'parents': "['stg_customers', 'orders']", 'children': '[]'}, page_content='Code:\n        WITH customers AS\n  (SELECT *\n   FROM {{ ref(\'stg_customers\') }}),\n     orders AS\n  (SELECT *\n   FROM {{ ref(\'orders\') }}),\n     customer_orders_summary AS\n  (SELECT orders.customer_id,\n          count(DISTINCT orders.order_id) AS count_lifetime_orders,\n          count(DISTINCT orders.order_id) > 1 AS is_repeat_buyer,\n          min(orders.ordered_at) AS first_ordered_at,\n          max(orders.ordered_at) AS last_ordered_at,\n          sum(orders.subtotal) AS lifetime_spend_pretax,\n          sum(orders.tax_paid) AS lifetime_tax_paid,\n          sum(orders.order_total) AS lifetime_spend\n   FROM orders\n   GROUP BY 1),\n     joined AS\n  (SELECT customers.*,\n          customer_orders_summary.count_lifetime_orders,\n          customer_orders_summary.first_ordered_at,\n          customer_orders_summary.last_ordered_at,\n          customer_orders_summary.lifetime_spend_pretax,\n          customer_orders_summary.lifetime_tax_paid,\n          customer_orders_summary.lifetime_spend,\n          CASE\n              WHEN customer_orders_summary.is_repeat_buyer THEN \'returning\'\n              ELSE \'new\'\n          END AS customer_type\n   FROM customers\n   LEFT JOIN customer_orders_summary ON customers.customer_id = customer_orders_summary.customer_id)\nSELECT *\nFROM joined\n\n        YML Code:\n        {\'models\': [{\'name\': \'customers\', \'description\': \'Customer overview data mart, offering key details for each unique customer. One row per customer.\', \'data_tests\': [{\'dbt_utils.expression_is_true\': {\'expression\': \'lifetime_spend_pretax + lifetime_tax_paid = lifetime_spend\'}}], \'columns\': [{\'name\': \'customer_id\', \'description\': \'The unique key of the orders mart.\', \'data_tests\': [\'not_null\', \'unique\']}, {\'name\': \'customer_name\', \'description\': "Customers\' full name."}, {\'name\': \'count_lifetime_orders\', \'description\': \'Total number of orders a customer has ever placed.\'}, {\'name\': \'first_ordered_at\', \'description\': \'The timestamp when a customer placed their first order.\'}, {\'name\': \'last_ordered_at\', \'description\': "The timestamp of a customer\'s most recent order."}, {\'name\': \'lifetime_spend_pretax\', \'description\': \'The sum of all the pre-tax subtotals of every order a customer has placed.\'}, {\'name\': \'lifetime_tax_paid\', \'description\': \'The sum of all the tax portion of every order a customer has placed.\'}, {\'name\': \'lifetime_spend\', \'description\': \'The sum of all the order totals (including tax) that a customer has ever placed.\'}, {\'name\': \'customer_type\', \'description\': "Options are \'new\' or \'returning\', indicating if a customer has ordered more than once or has only placed their first order to date.", \'data_tests\': [{\'accepted_values\': {\'values\': [\'new\', \'returning\']}}]}]}], \'semantic_models\': [{\'name\': \'customers\', \'defaults\': {\'agg_time_dimension\': \'first_ordered_at\'}, \'description\': \'Customer grain mart.\\n\', \'model\': "ref(\'customers\')", \'entities\': [{\'name\': \'customer\', \'expr\': \'customer_id\', \'type\': \'primary\'}], \'dimensions\': [{\'name\': \'customer_name\', \'type\': \'categorical\'}, {\'name\': \'customer_type\', \'type\': \'categorical\'}, {\'name\': \'first_ordered_at\', \'type\': \'time\', \'type_params\': {\'time_granularity\': \'day\'}}, {\'name\': \'last_ordered_at\', \'type\': \'time\', \'type_params\': {\'time_granularity\': \'day\'}}], \'measures\': [{\'name\': \'customers\', \'description\': \'Count of unique customers\', \'agg\': \'count_distinct\'}, {\'name\': \'count_lifetime_orders\', \'description\': \'Total count of orders per customer.\', \'agg\': \'sum\'}, {\'name\': \'lifetime_spend_pretax\', \'description\': \'Customer lifetime spend before taxes.\', \'agg\': \'sum\'}, {\'name\': \'lifetime_spend\', \'agg\': \'sum\', \'description\': \'Gross customer lifetime spend inclusive of taxes.\'}]}], \'metrics\': [{\'name\': \'lifetime_spend_pretax\', \'description\': "Customer\'s lifetime spend before tax", \'label\': \'LTV Pre-tax\', \'type\': \'simple\', \'type_params\': {\'measure\': \'lifetime_spend_pretax\'}}, {\'name\': \'count_lifetime_orders\', \'description\': \'Count of lifetime orders\', \'label\': \'Count Lifetime Orders\', \'type\': \'simple\', \'type_params\': {\'measure\': \'count_lifetime_orders\'}}, {\'name\': \'average_order_value\', \'description\': \'LTV pre-tax / number of orders\', \'label\': \'Average Order Value\', \'type\': \'derived\', \'type_params\': {\'metrics\': [\'count_lifetime_orders\', \'lifetime_spend_pretax\'], \'expr\': \'lifetime_spend_pretax / count_lifetime_orders\'}}], \'saved_queries\': [{\'name\': \'customer_order_metrics\', \'query_params\': {\'metrics\': [\'count_lifetime_orders\', \'lifetime_spend_pretax\', \'average_order_value\'], \'group_by\': ["Entity(\'customer\')"]}, \'exports\': [{\'name\': \'customer_order_metrics\', \'config\': {\'export_as\': \'table\'}}]}]}\n\n        Description for project files:\n        N/A\n\n        dbt Model description:\n        "Aggregates customer data from the \'stg_customers\' and \'orders\' tables to summarize lifetime order metrics. It counts distinct orders, calculates total spend, and identifies repeat buyers. The results are joined by \'customer_id\' and include fields like first and last order dates, categorized as \'new\' or \'returning\' customers."\n\n        Jinja inside the dbt model description:\n        N/A'), Document(id='b98ab8bc-f69b-45c2-b17b-b7604bd527ab', metadata={'knowledge_type': 'models', 'name': '__sources.yml', 'path': nan, 'source': 'models/staging/__sources.yml', 'parents': '[]', 'children': '[]'}, page_content='Code:\n        N/A\n\n        YML Code:\n        {\'version\': 2, \'sources\': [{\'name\': \'ecom\', \'schema\': \'raw\', \'description\': \'E-commerce data for the Jaffle Shop\', \'freshness\': {\'warn_after\': {\'count\': 24, \'period\': \'hour\'}}, \'tables\': [{\'name\': \'raw_customers\', \'description\': \'One record per person who has purchased one or more items\'}, {\'name\': \'raw_orders\', \'description\': \'One record per order (consisting of one or more order items)\', \'loaded_at_field\': \'ordered_at\'}, {\'name\': \'raw_items\', \'description\': \'Items included in an order\'}, {\'name\': \'raw_stores\', \'loaded_at_field\': \'opened_at\'}, {\'name\': \'raw_products\', \'description\': \'One record per SKU for items sold in stores\'}, {\'name\': \'raw_supplies\', \'description\': \'One record per supply per SKU of items sold in stores\'}]}]}\n\n        Description for project files:\n        N/A\n\n        dbt Model description:\n        "Selects customer data from the \'raw_customers\' table and joins with \'raw_orders\' to filter for orders placed in the last 30 days. It counts the number of orders per customer and calculates the total order value using SUM(), grouping results by \'customer_id\'."\n\n        Jinja inside the dbt model description:\n        N/A'), Document(id='d255080d-838d-416c-b1aa-c09837ee2d2f', metadata={'knowledge_type': 'models', 'name': 'stg_orders.sql', 'path': "['ecom.raw_orders']", 'source': 'models/staging/stg_orders.sql', 'parents': '[]', 'children': "['order_items', 'orders']"}, page_content="Code:\n        WITH SOURCE AS\n  (SELECT *\n   FROM {{ source('ecom', 'raw_orders') }}), renamed AS\n  (SELECT ----------  ids\n id AS order_id,\n store_id AS location_id,\n customer AS customer_id, ---------- numerics\n subtotal AS subtotal_cents,\n tax_paid AS tax_paid_cents,\n order_total AS order_total_cents, {{ cents_to_dollars('subtotal') }} AS subtotal, {{ cents_to_dollars('tax_paid') }} AS tax_paid, {{ cents_to_dollars('order_total') }} AS order_total, ---------- timestamps\n {{ dbt.date_trunc('day', 'ordered_at') }} AS ordered_at\n   FROM SOURCE)\nSELECT *\nFROM renamed\n\n        YML Code:\n        {'models': [{'name': 'stg_orders', 'description': 'Order data with basic cleaning and transformation applied, one row per order.', 'data_tests': [{'dbt_utils.expression_is_true': {'expression': 'order_total - tax_paid = subtotal'}}], 'columns': [{'name': 'order_id', 'description': 'The unique key for each order.', 'data_tests': ['not_null', 'unique']}]}]}\n\n        Description for project files:\n        N/A\n\n        dbt Model description:\n        Retrieves order data from the 'ecom.raw_orders' source, applying basic cleaning and transformation. It renames fields, converts amounts from cents to dollars, and truncates the 'ordered_at' timestamp to the day. The model ensures that the order total minus tax equals the subtotal.\n\n        Jinja inside the dbt model description:\n        N/A"), Document(id='7a271f15-d3dd-4d14-b33a-aa8716400cb1', metadata={'knowledge_type': 'models', 'name': 'stg_order_items.sql', 'path': "['ecom.raw_items']", 'source': 'models/staging/stg_order_items.sql', 'parents': '[]', 'children': "['order_items']"}, page_content='Code:\n        WITH SOURCE AS\n  (SELECT *\n   FROM {{ source(\'ecom\', \'raw_items\') }}), renamed AS\n  (SELECT ----------  ids\n id AS order_item_id,\n order_id,\n sku AS product_id\n   FROM SOURCE)\nSELECT *\nFROM renamed\n\n        YML Code:\n        {\'models\': [{\'name\': \'stg_order_items\', \'description\': \'Individual food and drink items that make up our orders, one row per item.\', \'columns\': [{\'name\': \'order_item_id\', \'description\': \'The unique key for each order item.\', \'data_tests\': [\'not_null\', \'unique\']}, {\'name\': \'order_id\', \'description\': \'The corresponding order each order item belongs to\', \'data_tests\': [\'not_null\', {\'relationships\': {\'to\': "ref(\'stg_orders\')", \'field\': \'order_id\'}}]}]}]}\n\n        Description for project files:\n        N/A\n\n        dbt Model description:\n        "Extracts individual food and drink items from the \'raw_items\' source table, renaming columns for clarity. Each row represents a unique order item, identified by \'order_item_id\', linked to its corresponding \'order_id\' and \'product_id\'. No filters or aggregations are applied."\n\n        Jinja inside the dbt model description:\n        N/A')]}
Thought:I now know the final answer.

Final Answer: To add a new column `customer_age` to the `stg_customers` model, you need to modify the SQL code in the model to include the calculation for `customer_age` based on the date of birth from the `raw_customers` source. Additionally, update the YML file to include metadata for the new column and ensure to run the dbt commands to test and build the project. Here’s a summary of the steps:

1. **Modify the SQL Code**:
   ```sql
   WITH SOURCE AS (
     SELECT *
     FROM {{ source('ecom', 'raw_customers') }}
   ),
   renamed AS (
     SELECT
       id AS customer_id,
       name AS customer_name,
       DATE_PART('year', CURRENT_DATE) - DATE_PART('year', date_of_birth) AS customer_age
     FROM SOURCE
   )
   SELECT *
   FROM renamed
   ```

2. **Update the YML File**:
   ```yaml
   version: 2

   models:
     - name: stg_customers
       description: 'Customer data with basic cleaning and transformation applied, one row per customer.'
       columns:
         - name: customer_id
           description: 'The unique key for each customer.'
           data_tests: ['not_null', 'unique']
         - name: customer_name
           description: "Customers' full name."
         - name: customer_age
           description: 'The age of the customer calculated from their date of birth.'
           data_tests: ['not_null']
   ```

3. **Run dbt Commands**:
   - Run the models: `dbt run`
   - Run the tests: `dbt test`

By following these steps, you will successfully add the `customer_age` column to the `stg_customers` model.

> Finished chain.
Agent Output: To add a new column `customer_age` to the `stg_customers` model, you need to modify the SQL code in the model to include the calculation for `customer_age` based on the date of birth from the `raw_customers` source. Additionally, update the YML file to include metadata for the new column and ensure to run the dbt commands to test and build the project. Here’s a summary of the steps:

1. **Modify the SQL Code**:
   ```sql
   WITH SOURCE AS (
     SELECT *
     FROM {{ source('ecom', 'raw_customers') }}
   ),
   renamed AS (
     SELECT
       id AS customer_id,
       name AS customer_name,
       DATE_PART('year', CURRENT_DATE) - DATE_PART('year', date_of_birth) AS customer_age
     FROM SOURCE
   )
   SELECT *
   FROM renamed
   ```

2. **Update the YML File**:
   ```yaml
   version: 2

   models:
     - name: stg_customers
       description: 'Customer data with basic cleaning and transformation applied, one row per customer.'
       columns:
         - name: customer_id
           description: 'The unique key for each customer.'
           data_tests: ['not_null', 'unique']
         - name: customer_name
           description: "Customers' full name."
         - name: customer_age
           description: 'The age of the customer calculated from their date of birth.'
           data_tests: ['not_null']
   ```

3. **Run dbt Commands**:
   - Run the models: `dbt run`
   - Run the tests: `dbt test`

By following these steps, you will successfully add the `customer_age` column to the `stg_customers` model.

#### Start agent chain

In [24]:
from langchain.chains import LLMChain
from langchain.prompts import PromptTemplate

class Step:
    """Base class for a step in the processing pipeline."""
    def __init__(self, name):
        self.name = name

    def execute(self, input_data, context):
        raise NotImplementedError("Each step must implement the execute method.")


class ReflectionStep(Step):
    """Reflect on the user's request."""
    def __init__(self, llm):
        super().__init__("Reflection")
        self.llm = llm
        self.prompt_template = PromptTemplate(
            input_variables=["request"],
            template="Reflexiona sobre esta petición: {request}. Responde con lo que crees que se debe hacer."
        )

    def execute(self, input_data, context):
        print(f"Step: {self.name} | Input: {input_data}")
        prompt = self.prompt_template.format(request=input_data)
        # Pasar directamente como string
        reflection = self.llm.predict(prompt)
        context["reflection"] = reflection
        print(f"Step: {self.name} | Output: {reflection}")
        return reflection


class PlanStep(Step):
    """Plan the steps needed based on reflection."""
    def __init__(self, llm, retriever):
        super().__init__("Plan")
        self.llm = llm
        self.retriever = retriever
        self.prompt_template = PromptTemplate(
            input_variables=["reflection"],
            template="Con base en esta reflexión: {reflection}, crea un plan de pasos para resolver la petición."
        )

    def execute(self, input_data, context):
        print(f"Step: {self.name} | Input: {input_data}")
        reflection = context.get("reflection", "")
        prompt = self.prompt_template.format(reflection=reflection)

        # Recuperar documentos con el método adecuado
        documents = self.retriever.get_relevant_documents(input_data)
        context["documents"] = documents
        print(f"Step: {self.name} | Retrieved Documents: {documents}")

        # Pasar el prompt directamente como string
        plan = self.llm.predict(prompt)
        context["plan"] = plan
        print(f"Step: {self.name} | Output: {plan}")
        return plan


class ChatPipeline:
    """Manages the pipeline of steps."""
    def __init__(self, steps):
        self.steps = steps

    def execute(self, input_data):
        context = {}
        for step in self.steps:
            print(f"\nExecuting step: {step.name}")
            result = step.execute(input_data, context)
            print(f"Finished step: {step.name} | Result: {result}\n")
        return context


def main(user_input, llm, retriever):
    # Define the steps
    steps = [
        ReflectionStep(llm),
        PlanStep(llm, retriever),
    ]

    # Create the pipeline
    pipeline = ChatPipeline(steps)

    context = pipeline.execute(user_input)
    print("Context at the end of pipeline:", context)

    return context

In [25]:
user_input = "Add a new column 'customer_age' to the 'stg_customers' model. The new column is available in the customer sources"
llm_results = main(user_input, llm, retriever)

Chat bot initialized. Type your request or 'exit' to quit.

Executing step: Reflection
Step: Reflection | Input: Add a new column 'customer_age' to the 'stg_customers' model. The new column is available in the customer sources

/var/folders/hv/ckh3m6gn1sd45q2qctrqcwzh0000gn/T/ipykernel_80642/1101144321.py:27: LangChainDeprecationWarning: The method `BaseChatModel.predict` was deprecated in langchain-core 0.1.7 and will be removed in 1.0. Use :meth:`~invoke` instead.
  reflection = self.llm.predict(prompt)

Step: Reflection | Output: Para abordar la petición de agregar una nueva columna 'customer_age' al modelo 'stg_customers', es importante seguir un enfoque estructurado. Aquí hay algunos pasos que se deben considerar:

1. **Revisión de la Fuente de Datos**: Verificar que la información sobre la edad del cliente esté disponible en las fuentes de datos. Esto puede implicar revisar los archivos, bases de datos o APIs de donde se extraen los datos de los clientes.

2. **Definición del Tipo de Dato**: Determinar el tipo de dato que se utilizará para la nueva columna 'customer_age'. Generalmente, esto será un número entero (integer) que represente la edad del cliente.

3. **Modificación del Modelo**: Actualizar el modelo 'stg_customers' para incluir la nueva columna. Esto puede implicar modificar el esquema de la base de datos o el archivo de definición del modelo, dependiendo de la tecnología que se esté utilizando (por ejemplo, SQL, dbt, etc.).

4. **Transformación de Datos**: Si la edad no está directamente disponible, puede ser necesario calcularla a partir de la fecha de nacimiento o de otra información relacionada. Esto requerirá una transformación de datos adecuada.

5. **Pruebas**: Realizar pruebas para asegurarse de que la nueva columna se llena correctamente con los datos esperados. Esto incluye verificar que no haya valores nulos o erróneos.

6. **Documentación**: Actualizar la documentación del modelo para reflejar la nueva columna y su propósito. Esto es importante para que otros usuarios del modelo comprendan la adición.

7. **Despliegue**: Finalmente, implementar los cambios en el entorno de producción, asegurándose de seguir las mejores prácticas para el despliegue de cambios en la base de datos.

8. **Monitoreo**: Después de la implementación, monitorear el modelo para asegurarse de que la nueva columna funcione como se espera y no afecte negativamente a otros procesos.

Siguiendo estos pasos, se puede asegurar que la adición de la columna 'customer_age' se realice de manera efectiva y sin problemas.
Finished step: Reflection | Result: Para abordar la petición de agregar una nueva columna 'customer_age' al modelo 'stg_customers', es importante seguir un enfoque estructurado. Aquí hay algunos pasos que se deben considerar:

1. **Revisión de la Fuente de Datos**: Verificar que la información sobre la edad del cliente esté disponible en las fuentes de datos. Esto puede implicar revisar los archivos, bases de datos o APIs de donde se extraen los datos de los clientes.

2. **Definición del Tipo de Dato**: Determinar el tipo de dato que se utilizará para la nueva columna 'customer_age'. Generalmente, esto será un número entero (integer) que represente la edad del cliente.

3. **Modificación del Modelo**: Actualizar el modelo 'stg_customers' para incluir la nueva columna. Esto puede implicar modificar el esquema de la base de datos o el archivo de definición del modelo, dependiendo de la tecnología que se esté utilizando (por ejemplo, SQL, dbt, etc.).

4. **Transformación de Datos**: Si la edad no está directamente disponible, puede ser necesario calcularla a partir de la fecha de nacimiento o de otra información relacionada. Esto requerirá una transformación de datos adecuada.

5. **Pruebas**: Realizar pruebas para asegurarse de que la nueva columna se llena correctamente con los datos esperados. Esto incluye verificar que no haya valores nulos o erróneos.

6. **Documentación**: Actualizar la documentación del modelo para reflejar la nueva columna y su propósito. Esto es importante para que otros usuarios del modelo comprendan la adición.

7. **Despliegue**: Finalmente, implementar los cambios en el entorno de producción, asegurándose de seguir las mejores prácticas para el despliegue de cambios en la base de datos.

8. **Monitoreo**: Después de la implementación, monitorear el modelo para asegurarse de que la nueva columna funcione como se espera y no afecte negativamente a otros procesos.

Siguiendo estos pasos, se puede asegurar que la adición de la columna 'customer_age' se realice de manera efectiva y sin problemas.


Executing step: Plan
Step: Plan | Input: Add a new column 'customer_age' to the 'stg_customers' model. The new column is available in the customer sources
Step: Plan | Retrieved Documents: [Document(id='78761315-7033-47de-b529-e646063fff52', metadata={'knowledge_type': 'models', 'name': 'stg_customers.sql', 'path': "['ecom.raw_customers']", 'source': 'models/staging/stg_customers.sql', 'parents': '[]', 'children': "['customers']"}, page_content='Code:\n        WITH SOURCE AS\n  (SELECT *\n   FROM {{ source(\'ecom\', \'raw_customers\') }}), renamed AS\n  (SELECT ----------  ids\n id AS customer_id, ---------- text\n name AS customer_name\n   FROM SOURCE)\nSELECT *\nFROM renamed\n\n        YML Code:\n        {\'models\': [{\'name\': \'stg_customers\', \'description\': \'Customer data with basic cleaning and transformation applied, one row per customer.\', \'columns\': [{\'name\': \'customer_id\', \'description\': \'The unique key for each customer.\', \'data_tests\': [\'not_null\', \'unique\']}]}]}\n\n        Description for project files:\n        N/A\n\n        dbt Model description:\n        "Extracts customer data from the \'raw_customers\' source table, applying basic transformations to rename fields. The output includes a unique customer identifier as \'customer_id\' and the customer\'s name as \'customer_name\', ensuring one row per customer with no filters or aggregations applied."\n\n        Jinja inside the dbt model description:\n        N/A'), Document(id='33864f16-1d2d-4086-a31c-251d73a7ca3f', metadata={'knowledge_type': 'models', 'name': 'customers.sql', 'path': nan, 'source': 'models/marts/customers.sql', 'parents': "['stg_customers', 'orders']", 'children': '[]'}, page_content='Code:\n        WITH customers AS\n  (SELECT *\n   FROM {{ ref(\'stg_customers\') }}),\n     orders AS\n  (SELECT *\n   FROM {{ ref(\'orders\') }}),\n     customer_orders_summary AS\n  (SELECT orders.customer_id,\n          count(DISTINCT orders.order_id) AS count_lifetime_orders,\n          count(DISTINCT orders.order_id) > 1 AS is_repeat_buyer,\n          min(orders.ordered_at) AS first_ordered_at,\n          max(orders.ordered_at) AS last_ordered_at,\n          sum(orders.subtotal) AS lifetime_spend_pretax,\n          sum(orders.tax_paid) AS lifetime_tax_paid,\n          sum(orders.order_total) AS lifetime_spend\n   FROM orders\n   GROUP BY 1),\n     joined AS\n  (SELECT customers.*,\n          customer_orders_summary.count_lifetime_orders,\n          customer_orders_summary.first_ordered_at,\n          customer_orders_summary.last_ordered_at,\n          customer_orders_summary.lifetime_spend_pretax,\n          customer_orders_summary.lifetime_tax_paid,\n          customer_orders_summary.lifetime_spend,\n          CASE\n              WHEN customer_orders_summary.is_repeat_buyer THEN \'returning\'\n              ELSE \'new\'\n          END AS customer_type\n   FROM customers\n   LEFT JOIN customer_orders_summary ON customers.customer_id = customer_orders_summary.customer_id)\nSELECT *\nFROM joined\n\n        YML Code:\n        {\'models\': [{\'name\': \'customers\', \'description\': \'Customer overview data mart, offering key details for each unique customer. One row per customer.\', \'data_tests\': [{\'dbt_utils.expression_is_true\': {\'expression\': \'lifetime_spend_pretax + lifetime_tax_paid = lifetime_spend\'}}], \'columns\': [{\'name\': \'customer_id\', \'description\': \'The unique key of the orders mart.\', \'data_tests\': [\'not_null\', \'unique\']}, {\'name\': \'customer_name\', \'description\': "Customers\' full name."}, {\'name\': \'count_lifetime_orders\', \'description\': \'Total number of orders a customer has ever placed.\'}, {\'name\': \'first_ordered_at\', \'description\': \'The timestamp when a customer placed their first order.\'}, {\'name\': \'last_ordered_at\', \'description\': "The timestamp of a customer\'s most recent order."}, {\'name\': \'lifetime_spend_pretax\', \'description\': \'The sum of all the pre-tax subtotals of every order a customer has placed.\'}, {\'name\': \'lifetime_tax_paid\', \'description\': \'The sum of all the tax portion of every order a customer has placed.\'}, {\'name\': \'lifetime_spend\', \'description\': \'The sum of all the order totals (including tax) that a customer has ever placed.\'}, {\'name\': \'customer_type\', \'description\': "Options are \'new\' or \'returning\', indicating if a customer has ordered more than once or has only placed their first order to date.", \'data_tests\': [{\'accepted_values\': {\'values\': [\'new\', \'returning\']}}]}]}], \'semantic_models\': [{\'name\': \'customers\', \'defaults\': {\'agg_time_dimension\': \'first_ordered_at\'}, \'description\': \'Customer grain mart.\\n\', \'model\': "ref(\'customers\')", \'entities\': [{\'name\': \'customer\', \'expr\': \'customer_id\', \'type\': \'primary\'}], \'dimensions\': [{\'name\': \'customer_name\', \'type\': \'categorical\'}, {\'name\': \'customer_type\', \'type\': \'categorical\'}, {\'name\': \'first_ordered_at\', \'type\': \'time\', \'type_params\': {\'time_granularity\': \'day\'}}, {\'name\': \'last_ordered_at\', \'type\': \'time\', \'type_params\': {\'time_granularity\': \'day\'}}], \'measures\': [{\'name\': \'customers\', \'description\': \'Count of unique customers\', \'agg\': \'count_distinct\'}, {\'name\': \'count_lifetime_orders\', \'description\': \'Total count of orders per customer.\', \'agg\': \'sum\'}, {\'name\': \'lifetime_spend_pretax\', \'description\': \'Customer lifetime spend before taxes.\', \'agg\': \'sum\'}, {\'name\': \'lifetime_spend\', \'agg\': \'sum\', \'description\': \'Gross customer lifetime spend inclusive of taxes.\'}]}], \'metrics\': [{\'name\': \'lifetime_spend_pretax\', \'description\': "Customer\'s lifetime spend before tax", \'label\': \'LTV Pre-tax\', \'type\': \'simple\', \'type_params\': {\'measure\': \'lifetime_spend_pretax\'}}, {\'name\': \'count_lifetime_orders\', \'description\': \'Count of lifetime orders\', \'label\': \'Count Lifetime Orders\', \'type\': \'simple\', \'type_params\': {\'measure\': \'count_lifetime_orders\'}}, {\'name\': \'average_order_value\', \'description\': \'LTV pre-tax / number of orders\', \'label\': \'Average Order Value\', \'type\': \'derived\', \'type_params\': {\'metrics\': [\'count_lifetime_orders\', \'lifetime_spend_pretax\'], \'expr\': \'lifetime_spend_pretax / count_lifetime_orders\'}}], \'saved_queries\': [{\'name\': \'customer_order_metrics\', \'query_params\': {\'metrics\': [\'count_lifetime_orders\', \'lifetime_spend_pretax\', \'average_order_value\'], \'group_by\': ["Entity(\'customer\')"]}, \'exports\': [{\'name\': \'customer_order_metrics\', \'config\': {\'export_as\': \'table\'}}]}]}\n\n        Description for project files:\n        N/A\n\n        dbt Model description:\n        "Aggregates customer data from the \'stg_customers\' and \'orders\' tables to summarize lifetime order metrics. It counts distinct orders, calculates total spend, and identifies repeat buyers. The results are joined by \'customer_id\' and include fields like first and last order dates, categorized as \'new\' or \'returning\' customers."\n\n        Jinja inside the dbt model description:\n        N/A'), Document(id='b98ab8bc-f69b-45c2-b17b-b7604bd527ab', metadata={'knowledge_type': 'models', 'name': '__sources.yml', 'path': nan, 'source': 'models/staging/__sources.yml', 'parents': '[]', 'children': '[]'}, page_content='Code:\n        N/A\n\n        YML Code:\n        {\'version\': 2, \'sources\': [{\'name\': \'ecom\', \'schema\': \'raw\', \'description\': \'E-commerce data for the Jaffle Shop\', \'freshness\': {\'warn_after\': {\'count\': 24, \'period\': \'hour\'}}, \'tables\': [{\'name\': \'raw_customers\', \'description\': \'One record per person who has purchased one or more items\'}, {\'name\': \'raw_orders\', \'description\': \'One record per order (consisting of one or more order items)\', \'loaded_at_field\': \'ordered_at\'}, {\'name\': \'raw_items\', \'description\': \'Items included in an order\'}, {\'name\': \'raw_stores\', \'loaded_at_field\': \'opened_at\'}, {\'name\': \'raw_products\', \'description\': \'One record per SKU for items sold in stores\'}, {\'name\': \'raw_supplies\', \'description\': \'One record per supply per SKU of items sold in stores\'}]}]}\n\n        Description for project files:\n        N/A\n\n        dbt Model description:\n        "Selects customer data from the \'raw_customers\' table and joins with \'raw_orders\' to filter for orders placed in the last 30 days. It counts the number of orders per customer and calculates the total order value using SUM(), grouping results by \'customer_id\'."\n\n        Jinja inside the dbt model description:\n        N/A'), Document(id='d255080d-838d-416c-b1aa-c09837ee2d2f', metadata={'knowledge_type': 'models', 'name': 'stg_orders.sql', 'path': "['ecom.raw_orders']", 'source': 'models/staging/stg_orders.sql', 'parents': '[]', 'children': "['order_items', 'orders']"}, page_content="Code:\n        WITH SOURCE AS\n  (SELECT *\n   FROM {{ source('ecom', 'raw_orders') }}), renamed AS\n  (SELECT ----------  ids\n id AS order_id,\n store_id AS location_id,\n customer AS customer_id, ---------- numerics\n subtotal AS subtotal_cents,\n tax_paid AS tax_paid_cents,\n order_total AS order_total_cents, {{ cents_to_dollars('subtotal') }} AS subtotal, {{ cents_to_dollars('tax_paid') }} AS tax_paid, {{ cents_to_dollars('order_total') }} AS order_total, ---------- timestamps\n {{ dbt.date_trunc('day', 'ordered_at') }} AS ordered_at\n   FROM SOURCE)\nSELECT *\nFROM renamed\n\n        YML Code:\n        {'models': [{'name': 'stg_orders', 'description': 'Order data with basic cleaning and transformation applied, one row per order.', 'data_tests': [{'dbt_utils.expression_is_true': {'expression': 'order_total - tax_paid = subtotal'}}], 'columns': [{'name': 'order_id', 'description': 'The unique key for each order.', 'data_tests': ['not_null', 'unique']}]}]}\n\n        Description for project files:\n        N/A\n\n        dbt Model description:\n        Retrieves order data from the 'ecom.raw_orders' source, applying basic cleaning and transformation. It renames fields, converts amounts from cents to dollars, and truncates the 'ordered_at' timestamp to the day. The model ensures that the order total minus tax equals the subtotal.\n\n        Jinja inside the dbt model description:\n        N/A"), Document(id='7ce1a0be-df9a-43ca-bd84-d516600da837', metadata={'knowledge_type': 'models', 'name': 'stg_products.sql', 'path': "['ecom.raw_products']", 'source': 'models/staging/stg_products.sql', 'parents': '[]', 'children': "['order_items', 'products']"}, page_content="Code:\n        WITH SOURCE AS\n  (SELECT *\n   FROM {{ source('ecom', 'raw_products') }}), renamed AS\n  (SELECT ----------  ids\n sku AS product_id, ---------- text\n name AS product_name,\n TYPE AS product_type,\n         description AS product_description, ---------- numerics\n {{ cents_to_dollars('price') }} AS product_price, ---------- booleans\n coalesce(TYPE = 'jaffle', FALSE) AS is_food_item,\n coalesce(TYPE = 'beverage', FALSE) AS is_drink_item\n   FROM SOURCE)\nSELECT *\nFROM renamed\n\n        YML Code:\n        {'models': [{'name': 'stg_products', 'description': 'Product (food and drink items that can be ordered) data with basic cleaning and transformation applied, one row per product.', 'columns': [{'name': 'product_id', 'description': 'The unique key for each product.', 'data_tests': ['not_null', 'unique']}]}]}\n\n        Description for project files:\n        N/A\n\n        dbt Model description:\n        Retrieves product data from the 'raw_products' source table, applying basic transformations. It renames columns for clarity, calculates the price in dollars, and identifies food and drink items based on the product type. Each product is represented by a unique identifier.\n\n        Jinja inside the dbt model description:\n        N/A")]
Step: Plan | Output: Aquí tienes un plan detallado de pasos para abordar la petición de agregar la nueva columna 'customer_age' al modelo 'stg_customers':

### Plan de Pasos para Agregar la Columna 'customer_age'

#### 1. Revisión de la Fuente de Datos
   - **Identificación de Fuentes**: Listar todas las fuentes de datos que alimentan el modelo 'stg_customers'.
   - **Verificación de Disponibilidad**: Comprobar si la información sobre la edad o la fecha de nacimiento de los clientes está disponible en las fuentes identificadas.
   - **Consulta con Stakeholders**: Si es necesario, consultar con los equipos de negocio o de datos para confirmar la disponibilidad y la calidad de los datos.

#### 2. Definición del Tipo de Dato
   - **Tipo de Dato**: Decidir que 'customer_age' será un entero (integer).
   - **Rango de Valores**: Definir el rango esperado para la edad (por ejemplo, 0 a 120 años).

#### 3. Modificación del Modelo
   - **Actualización del Esquema**: Modificar el esquema de la base de datos para incluir la nueva columna 'customer_age'.
   - **Actualización del Archivo de Definición**: Si se utiliza una herramienta como dbt, actualizar el archivo de definición del modelo para reflejar la nueva columna.

#### 4. Transformación de Datos
   - **Cálculo de Edad**: Si la edad no está disponible directamente, definir la lógica para calcularla a partir de la fecha de nacimiento (por ejemplo, usando la fecha actual menos la fecha de nacimiento).
   - **Implementación de Transformaciones**: Implementar las transformaciones necesarias en el proceso de ETL (Extracción, Transformación y Carga) para llenar la nueva columna.

#### 5. Pruebas
   - **Pruebas Unitarias**: Realizar pruebas unitarias para verificar que la columna 'customer_age' se llena correctamente.
   - **Verificación de Valores**: Asegurarse de que no haya valores nulos o erróneos en la nueva columna.
   - **Pruebas de Integración**: Comprobar que la adición de la columna no afecte negativamente a otros procesos o modelos.

#### 6. Documentación
   - **Actualización de Documentación**: Documentar la nueva columna 'customer_age', incluyendo su propósito, tipo de dato y cómo se calcula.
   - **Comunicación a Usuarios**: Informar a los usuarios del modelo sobre la nueva columna y su uso.

#### 7. Despliegue
   - **Planificación del Despliegue**: Planificar el despliegue de los cambios en el entorno de producción, eligiendo un momento adecuado para minimizar el impacto.
   - **Ejecución del Despliegue**: Implementar los cambios en producción siguiendo las mejores prácticas (por ejemplo, realizar un backup previo).

#### 8. Monitoreo
   - **Monitoreo Post-Despliegue**: Supervisar el modelo después de la implementación para asegurarse de que la nueva columna funcione como se espera.
   - **Revisión de Logs**: Revisar los logs y métricas para detectar cualquier anomalía o problema relacionado con la nueva columna.

### Conclusión
Siguiendo este plan estructurado, se puede asegurar que la adición de la columna 'customer_age' al modelo 'stg_customers' se realice de manera efectiva, minimizando riesgos y garantizando la calidad de los datos.
Finished step: Plan | Result: Aquí tienes un plan detallado de pasos para abordar la petición de agregar la nueva columna 'customer_age' al modelo 'stg_customers':

### Plan de Pasos para Agregar la Columna 'customer_age'

#### 1. Revisión de la Fuente de Datos
   - **Identificación de Fuentes**: Listar todas las fuentes de datos que alimentan el modelo 'stg_customers'.
   - **Verificación de Disponibilidad**: Comprobar si la información sobre la edad o la fecha de nacimiento de los clientes está disponible en las fuentes identificadas.
   - **Consulta con Stakeholders**: Si es necesario, consultar con los equipos de negocio o de datos para confirmar la disponibilidad y la calidad de los datos.

#### 2. Definición del Tipo de Dato

In [26]:
llm_results

{'reflection': "Para abordar la petición de agregar una nueva columna 'customer_age' al modelo 'stg_customers', es importante seguir un enfoque estructurado. Aquí hay algunos pasos que se deben considerar:\n\n1. **Revisión de la Fuente de Datos**: Verificar que la información sobre la edad del cliente esté disponible en las fuentes de datos. Esto puede implicar revisar los archivos, bases de datos o APIs de donde se extraen los datos de los clientes.\n\n2. **Definición del Tipo de Dato**: Determinar el tipo de dato que se utilizará para la nueva columna 'customer_age'. Generalmente, esto será un número entero (integer) que represente la edad del cliente.\n\n3. **Modificación del Modelo**: Actualizar el modelo 'stg_customers' para incluir la nueva columna. Esto puede implicar modificar el esquema de la base de datos o el archivo de definición del modelo, dependiendo de la tecnología que se esté utilizando (por ejemplo, SQL, dbt, etc.).\n\n4. **Transformación de Datos**: Si la edad no está directamente disponible, puede ser necesario calcularla a partir de la fecha de nacimiento o de otra información relacionada. Esto requerirá una transformación de datos adecuada.\n\n5. **Pruebas**: Realizar pruebas para asegurarse de que la nueva columna se llena correctamente con los datos esperados. Esto incluye verificar que no haya valores nulos o erróneos.\n\n6. **Documentación**: Actualizar la documentación del modelo para reflejar la nueva columna y su propósito. Esto es importante para que otros usuarios del modelo comprendan la adición.\n\n7. **Despliegue**: Finalmente, implementar los cambios en el entorno de producción, asegurándose de seguir las mejores prácticas para el despliegue de cambios en la base de datos.\n\n8. **Monitoreo**: Después de la implementación, monitorear el modelo para asegurarse de que la nueva columna funcione como se espera y no afecte negativamente a otros procesos.\n\nSiguiendo estos pasos, se puede asegurar que la adición de la columna 'customer_age' se realice de manera efectiva y sin problemas.",
 'documents': [Document(id='78761315-7033-47de-b529-e646063fff52', metadata={'knowledge_type': 'models', 'name': 'stg_customers.sql', 'path': "['ecom.raw_customers']", 'source': 'models/staging/stg_customers.sql', 'parents': '[]', 'children': "['customers']"}, page_content='Code:\n        WITH SOURCE AS\n  (SELECT *\n   FROM {{ source(\'ecom\', \'raw_customers\') }}), renamed AS\n  (SELECT ----------  ids\n id AS customer_id, ---------- text\n name AS customer_name\n   FROM SOURCE)\nSELECT *\nFROM renamed\n\n        YML Code:\n        {\'models\': [{\'name\': \'stg_customers\', \'description\': \'Customer data with basic cleaning and transformation applied, one row per customer.\', \'columns\': [{\'name\': \'customer_id\', \'description\': \'The unique key for each customer.\', \'data_tests\': [\'not_null\', \'unique\']}]}]}\n\n        Description for project files:\n        N/A\n\n        dbt Model description:\n        "Extracts customer data from the \'raw_customers\' source table, applying basic transformations to rename fields. The output includes a unique customer identifier as \'customer_id\' and the customer\'s name as \'customer_name\', ensuring one row per customer with no filters or aggregations applied."\n\n        Jinja inside the dbt model description:\n        N/A'),
  Document(id='33864f16-1d2d-4086-a31c-251d73a7ca3f', metadata={'knowledge_type': 'models', 'name': 'customers.sql', 'path': nan, 'source': 'models/marts/customers.sql', 'parents': "['stg_customers', 'orders']", 'children': '[]'}, page_content='Code:\n        WITH customers AS\n  (SELECT *\n   FROM {{ ref(\'stg_customers\') }}),\n     orders AS\n  (SELECT *\n   FROM {{ ref(\'orders\') }}),\n     customer_orders_summary AS\n  (SELECT orders.customer_id,\n          count(DISTINCT orders.order_id) AS count_lifetime_orders,\n          count(DISTINCT orders.order_id) > 1 AS is_repeat_buyer,\n          min(orders.ordered_at) AS first_ordered_at,\n          max(orders.ordered_at) AS last_ordered_at,\n          sum(orders.subtotal) AS lifetime_spend_pretax,\n          sum(orders.tax_paid) AS lifetime_tax_paid,\n          sum(orders.order_total) AS lifetime_spend\n   FROM orders\n   GROUP BY 1),\n     joined AS\n  (SELECT customers.*,\n          customer_orders_summary.count_lifetime_orders,\n          customer_orders_summary.first_ordered_at,\n          customer_orders_summary.last_ordered_at,\n          customer_orders_summary.lifetime_spend_pretax,\n          customer_orders_summary.lifetime_tax_paid,\n          customer_orders_summary.lifetime_spend,\n          CASE\n              WHEN customer_orders_summary.is_repeat_buyer THEN \'returning\'\n              ELSE \'new\'\n          END AS customer_type\n   FROM customers\n   LEFT JOIN customer_orders_summary ON customers.customer_id = customer_orders_summary.customer_id)\nSELECT *\nFROM joined\n\n        YML Code:\n        {\'models\': [{\'name\': \'customers\', \'description\': \'Customer overview data mart, offering key details for each unique customer. One row per customer.\', \'data_tests\': [{\'dbt_utils.expression_is_true\': {\'expression\': \'lifetime_spend_pretax + lifetime_tax_paid = lifetime_spend\'}}], \'columns\': [{\'name\': \'customer_id\', \'description\': \'The unique key of the orders mart.\', \'data_tests\': [\'not_null\', \'unique\']}, {\'name\': \'customer_name\', \'description\': "Customers\' full name."}, {\'name\': \'count_lifetime_orders\', \'description\': \'Total number of orders a customer has ever placed.\'}, {\'name\': \'first_ordered_at\', \'description\': \'The timestamp when a customer placed their first order.\'}, {\'name\': \'last_ordered_at\', \'description\': "The timestamp of a customer\'s most recent order."}, {\'name\': \'lifetime_spend_pretax\', \'description\': \'The sum of all the pre-tax subtotals of every order a customer has placed.\'}, {\'name\': \'lifetime_tax_paid\', \'description\': \'The sum of all the tax portion of every order a customer has placed.\'}, {\'name\': \'lifetime_spend\', \'description\': \'The sum of all the order totals (including tax) that a customer has ever placed.\'}, {\'name\': \'customer_type\', \'description\': "Options are \'new\' or \'returning\', indicating if a customer has ordered more than once or has only placed their first order to date.", \'data_tests\': [{\'accepted_values\': {\'values\': [\'new\', \'returning\']}}]}]}], \'semantic_models\': [{\'name\': \'customers\', \'defaults\': {\'agg_time_dimension\': \'first_ordered_at\'}, \'description\': \'Customer grain mart.\\n\', \'model\': "ref(\'customers\')", \'entities\': [{\'name\': \'customer\', \'expr\': \'customer_id\', \'type\': \'primary\'}], \'dimensions\': [{\'name\': \'customer_name\', \'type\': \'categorical\'}, {\'name\': \'customer_type\', \'type\': \'categorical\'}, {\'name\': \'first_ordered_at\', \'type\': \'time\', \'type_params\': {\'time_granularity\': \'day\'}}, {\'name\': \'last_ordered_at\', \'type\': \'time\', \'type_params\': {\'time_granularity\': \'day\'}}], \'measures\': [{\'name\': \'customers\', \'description\': \'Count of unique customers\', \'agg\': \'count_distinct\'}, {\'name\': \'count_lifetime_orders\', \'description\': \'Total count of orders per customer.\', \'agg\': \'sum\'}, {\'name\': \'lifetime_spend_pretax\', \'description\': \'Customer lifetime spend before taxes.\', \'agg\': \'sum\'}, {\'name\': \'lifetime_spend\', \'agg\': \'sum\', \'description\': \'Gross customer lifetime spend inclusive of taxes.\'}]}], \'metrics\': [{\'name\': \'lifetime_spend_pretax\', \'description\': "Customer\'s lifetime spend before tax", \'label\': \'LTV Pre-tax\', \'type\': \'simple\', \'type_params\': {\'measure\': \'lifetime_spend_pretax\'}}, {\'name\': \'count_lifetime_orders\', \'description\': \'Count of lifetime orders\', \'label\': \'Count Lifetime Orders\', \'type\': \'simple\', \'type_params\': {\'measure\': \'count_lifetime_orders\'}}, {\'name\': \'average_order_value\', \'description\': \'LTV pre-tax / number of orders\', \'label\': \'Average Order Value\', \'type\': \'derived\', \'type_params\': {\'metrics\': [\'count_lifetime_orders\', \'lifetime_spend_pretax\'], \'expr\': \'lifetime_spend_pretax / count_lifetime_orders\'}}], \'saved_queries\': [{\'name\': \'customer_order_metrics\', \'query_params\': {\'metrics\': [\'count_lifetime_orders\', \'lifetime_spend_pretax\', \'average_order_value\'], \'group_by\': ["Entity(\'customer\')"]}, \'exports\': [{\'name\': \'customer_order_metrics\', \'config\': {\'export_as\': \'table\'}}]}]}\n\n        Description for project files:\n        N/A\n\n        dbt Model description:\n        "Aggregates customer data from the \'stg_customers\' and \'orders\' tables to summarize lifetime order metrics. It counts distinct orders, calculates total spend, and identifies repeat buyers. The results are joined by \'customer_id\' and include fields like first and last order dates, categorized as \'new\' or \'returning\' customers."\n\n        Jinja inside the dbt model description:\n        N/A'),
  Document(id='b98ab8bc-f69b-45c2-b17b-b7604bd527ab', metadata={'knowledge_type': 'models', 'name': '__sources.yml', 'path': nan, 'source': 'models/staging/__sources.yml', 'parents': '[]', 'children': '[]'}, page_content='Code:\n        N/A\n\n        YML Code:\n        {\'version\': 2, \'sources\': [{\'name\': \'ecom\', \'schema\': \'raw\', \'description\': \'E-commerce data for the Jaffle Shop\', \'freshness\': {\'warn_after\': {\'count\': 24, \'period\': \'hour\'}}, \'tables\': [{\'name\': \'raw_customers\', \'description\': \'One record per person who has purchased one or more items\'}, {\'name\': \'raw_orders\', \'description\': \'One record per order (consisting of one or more order items)\', \'loaded_at_field\': \'ordered_at\'}, {\'name\': \'raw_items\', \'description\': \'Items included in an order\'}, {\'name\': \'raw_stores\', \'loaded_at_field\': \'opened_at\'}, {\'name\': \'raw_products\', \'description\': \'One record per SKU for items sold in stores\'}, {\'name\': \'raw_supplies\', \'description\': \'One record per supply per SKU of items sold in stores\'}]}]}\n\n        Description for project files:\n        N/A\n\n        dbt Model description:\n        "Selects customer data from the \'raw_customers\' table and joins with \'raw_orders\' to filter for orders placed in the last 30 days. It counts the number of orders per customer and calculates the total order value using SUM(), grouping results by \'customer_id\'."\n\n        Jinja inside the dbt model description:\n        N/A'),
  Document(id='d255080d-838d-416c-b1aa-c09837ee2d2f', metadata={'knowledge_type': 'models', 'name': 'stg_orders.sql', 'path': "['ecom.raw_orders']", 'source': 'models/staging/stg_orders.sql', 'parents': '[]', 'children': "['order_items', 'orders']"}, page_content="Code:\n        WITH SOURCE AS\n  (SELECT *\n   FROM {{ source('ecom', 'raw_orders') }}), renamed AS\n  (SELECT ----------  ids\n id AS order_id,\n store_id AS location_id,\n customer AS customer_id, ---------- numerics\n subtotal AS subtotal_cents,\n tax_paid AS tax_paid_cents,\n order_total AS order_total_cents, {{ cents_to_dollars('subtotal') }} AS subtotal, {{ cents_to_dollars('tax_paid') }} AS tax_paid, {{ cents_to_dollars('order_total') }} AS order_total, ---------- timestamps\n {{ dbt.date_trunc('day', 'ordered_at') }} AS ordered_at\n   FROM SOURCE)\nSELECT *\nFROM renamed\n\n        YML Code:\n        {'models': [{'name': 'stg_orders', 'description': 'Order data with basic cleaning and transformation applied, one row per order.', 'data_tests': [{'dbt_utils.expression_is_true': {'expression': 'order_total - tax_paid = subtotal'}}], 'columns': [{'name': 'order_id', 'description': 'The unique key for each order.', 'data_tests': ['not_null', 'unique']}]}]}\n\n        Description for project files:\n        N/A\n\n        dbt Model description:\n        Retrieves order data from the 'ecom.raw_orders' source, applying basic cleaning and transformation. It renames fields, converts amounts from cents to dollars, and truncates the 'ordered_at' timestamp to the day. The model ensures that the order total minus tax equals the subtotal.\n\n        Jinja inside the dbt model description:\n        N/A"),
  Document(id='7ce1a0be-df9a-43ca-bd84-d516600da837', metadata={'knowledge_type': 'models', 'name': 'stg_products.sql', 'path': "['ecom.raw_products']", 'source': 'models/staging/stg_products.sql', 'parents': '[]', 'children': "['order_items', 'products']"}, page_content="Code:\n        WITH SOURCE AS\n  (SELECT *\n   FROM {{ source('ecom', 'raw_products') }}), renamed AS\n  (SELECT ----------  ids\n sku AS product_id, ---------- text\n name AS product_name,\n TYPE AS product_type,\n         description AS product_description, ---------- numerics\n {{ cents_to_dollars('price') }} AS product_price, ---------- booleans\n coalesce(TYPE = 'jaffle', FALSE) AS is_food_item,\n coalesce(TYPE = 'beverage', FALSE) AS is_drink_item\n   FROM SOURCE)\nSELECT *\nFROM renamed\n\n        YML Code:\n        {'models': [{'name': 'stg_products', 'description': 'Product (food and drink items that can be ordered) data with basic cleaning and transformation applied, one row per product.', 'columns': [{'name': 'product_id', 'description': 'The unique key for each product.', 'data_tests': ['not_null', 'unique']}]}]}\n\n        Description for project files:\n        N/A\n\n        dbt Model description:\n        Retrieves product data from the 'raw_products' source table, applying basic transformations. It renames columns for clarity, calculates the price in dollars, and identifies food and drink items based on the product type. Each product is represented by a unique identifier.\n\n        Jinja inside the dbt model description:\n        N/A")],
 'plan': "Aquí tienes un plan detallado de pasos para abordar la petición de agregar la nueva columna 'customer_age' al modelo 'stg_customers':\n\n### Plan de Pasos para Agregar la Columna 'customer_age'\n\n#### 1. Revisión de la Fuente de Datos\n   - **Identificación de Fuentes**: Listar todas las fuentes de datos que alimentan el modelo 'stg_customers'.\n   - **Verificación de Disponibilidad**: Comprobar si la información sobre la edad o la fecha de nacimiento de los clientes está disponible en las fuentes identificadas.\n   - **Consulta con Stakeholders**: Si es necesario, consultar con los equipos de negocio o de datos para confirmar la disponibilidad y la calidad de los datos.\n\n#### 2. Definición del Tipo de Dato\n   - **Tipo de Dato**: Decidir que 'customer_age' será un entero (integer).\n   - **Rango de Valores**: Definir el rango esperado para la edad (por ejemplo, 0 a 120 años).\n\n#### 3. Modificación del Modelo\n   - **Actualización del Esquema**: Modificar el esquema de la base de datos para incluir la nueva columna 'customer_age'.\n   - **Actualización del Archivo de Definición**: Si se utiliza una herramienta como dbt, actualizar el archivo de definición del modelo para reflejar la nueva columna.\n\n#### 4. Transformación de Datos\n   - **Cálculo de Edad**: Si la edad no está disponible directamente, definir la lógica para calcularla a partir de la fecha de nacimiento (por ejemplo, usando la fecha actual menos la fecha de nacimiento).\n   - **Implementación de Transformaciones**: Implementar las transformaciones necesarias en el proceso de ETL (Extracción, Transformación y Carga) para llenar la nueva columna.\n\n#### 5. Pruebas\n   - **Pruebas Unitarias**: Realizar pruebas unitarias para verificar que la columna 'customer_age' se llena correctamente.\n   - **Verificación de Valores**: Asegurarse de que no haya valores nulos o erróneos en la nueva columna.\n   - **Pruebas de Integración**: Comprobar que la adición de la columna no afecte negativamente a otros procesos o modelos.\n\n#### 6. Documentación\n   - **Actualización de Documentación**: Documentar la nueva columna 'customer_age', incluyendo su propósito, tipo de dato y cómo se calcula.\n   - **Comunicación a Usuarios**: Informar a los usuarios del modelo sobre la nueva columna y su uso.\n\n#### 7. Despliegue\n   - **Planificación del Despliegue**: Planificar el despliegue de los cambios en el entorno de producción, eligiendo un momento adecuado para minimizar el impacto.\n   - **Ejecución del Despliegue**: Implementar los cambios en producción siguiendo las mejores prácticas (por ejemplo, realizar un backup previo).\n\n#### 8. Monitoreo\n   - **Monitoreo Post-Despliegue**: Supervisar el modelo después de la implementación para asegurarse de que la nueva columna funcione como se espera.\n   - **Revisión de Logs**: Revisar los logs y métricas para detectar cualquier anomalía o problema relacionado con la nueva columna.\n\n### Conclusión\nSiguiendo este plan estructurado, se puede asegurar que la adición de la columna 'customer_age' al modelo 'stg_customers' se realice de manera efectiva, minimizando riesgos y garantizando la calidad de los datos."}